<% include layouts/header.ejs %>

    <div class="container">
        <h1><%= title %></h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus unde dolor, provident fugiat illo aut id fuga asperiores laboriosam, magnam animi amet soluta temporibus maxime dolore eius consequatur veritatis.
            A cupiditate sequi voluptates nobis repellat inventore, doloremque excepturi molestiae. Dignissimos voluptas neque expedita modi magni sequi quo accusantium itaque autem? Laborum dolor voluptatem vel doloremque officiis ipsum sequi error!
            Itaque voluptatem neque eos unde, animi rem quam nemo delectus aspernatur nihil, laboriosam eligendi sapiente labore corporis suscipit ullam, consequuntur perferendis. Maiores sunt laudantium cupiditate eaque possimus impedit mollitia officiis!
            Laborum adipisci incidunt ipsum labore iure. Quae alias necessitatibus saepe architecto consequatur ipsa minima eos, earum beatae quod est aliquid perferendis numquam excepturi adipisci recusandae inventore neque fugiat fugit dicta.
            Praesentium quas provident porro debitis neque deleniti, reiciendis enim, recusandae quidem dicta eius quae iusto a eaque nisi quo quis optio. Amet enim laborum ut distinctio quis. Debitis, ab omnis?
            Inventore corporis ducimus, illum distinctio suscipit aliquam, fuga est eligendi veniam in, minus hic! Animi similique amet iure dolorem pariatur odit culpa, sunt, assumenda beatae quam est accusantium sed explicabo.
            Error, consequatur suscipit. Iure architecto quo sint quisquam, soluta laborum officia sed dolores eligendi ducimus quaerat, accusamus expedita aut rem inventore. Quos, quaerat explicabo. Adipisci dicta ratione dolor dignissimos magni.
            Vero culpa nemo molestiae! Rem praesentium quae vero cum molestiae eius et. Deserunt dolorem sint accusantium laborum rem fuga distinctio, ullam ducimus praesentium similique expedita magni, sunt ipsum, pariatur ea?
            Beatae cupiditate, ea unde rem deserunt neque. Totam, officia accusantium optio nisi blanditiis unde recusandae eius necessitatibus, distinctio tempore, sequi commodi. Aspernatur sapiente ducimus nesciunt rerum et provident. Nemo, unde.
            Sunt similique doloribus nobis non maiores quos rerum distinctio voluptatibus tenetur reprehenderit laudantium repudiandae, soluta, fuga delectus reiciendis vel minus dolores, unde quis molestias porro. Error perspiciatis impedit est corrupti.
        </p>

    </div>

    <% include layouts/footer.ejs %>